<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>나의 포트폴리오</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <div class="container">
        <!-- header 부분 -->
      <header class="hd">
        <div class="hd_wrap">
          <nav class="tnb">
            <ul class="menu">
              <li class="item1"><a href="">로그인</a></li>
              <li class="item2"><a href="">회원가입</a></li>
              <li class="item3"><a href="">오시는길</a></li>
            </ul>
          </nav>
          <a href="" class="logo">
            <img src="./static/logo.jpg" alt="로고" />
          </a>
          <nav class="gnb">
            <ul>
              <li class="item1"><a href="">메뉴1</a></li>
              <li class="item2"><a href="">메뉴2</a></li>
              <li class="item3"><a href="">메뉴3</a></li>
              <li class="item4"><a href="">메뉴4</a></li>
              <li class="item5"><a href="">메뉴5</a></li>
            </ul>
          </nav>
        </div>
      </header>

      <!-- footer 부분 -->
      <footer class="ft">
        <nav class="fnb">
          <ul class="menu">
            <li><a href="">푸터링크</a></li>
            <li><a href="">푸터링크</a></li>
            <li><a href="">푸터링크</a></li>
            <li><a href="">푸터링크</a></li>
            <li><a href="">푸터링크</a></li>
            <li><a href="">푸터링크</a></li>
          </ul>
        </nav>
        <div class="ft_wrap">
          <h3>푸터</h3>
          <address class="cp">카피라이트 및 회사주소</address>
        </div>
      </footer>
    </div>
  </body>
</html>
